.select-classe
  width: 100px

.select-day
  max-width: 60px

mat-form-field:first-of-type
  margin-left: 10px

mat-form-field + mat-form-field
  margin-left: 8px

.label-exception
  display: inline-block
  margin-left: 30px
