.select-classe
  width: 70px

.select-day
  max-width: 60px

.select-day:first-of-type
  margin-left: 5px

.select-day + .select-day
  margin-left: 8px

.label-exception
  display: inline-block
  margin-left: 20px
