@import './../../app-theme'

table
  table-layout: fixed
  width: 100%

.stop-th
  font-weight: normal
  color: white
  background-color: mat-color($app-primary)
  font-size: 12px

.stop-hour
  font-size: 10px

@mixin day-row($color)
  background-color: mat-color(mat-palette($color))
  color: white
  font-size: 12px

.day-row-lundi
  @include day-row($mat-grey)

.day-row-mardi
  @include day-row($mat-pink)

.day-row-mercredi
  @include day-row($mat-purple)

.day-row-jeudi
  @include day-row($mat-blue)

.day-row-vendredi
  @include day-row($mat-green)

.day-cell-lundi
  border: 1px solid mat-color(mat-palette($mat-grey))

.day-cell-mardi
  border: 1px solid mat-color(mat-palette($mat-pink))

.day-cell-mercredi
  border: 1px solid mat-color(mat-palette($mat-purple))

.day-cell-jeudi
  border: 1px solid mat-color(mat-palette($mat-blue))

.day-cell-vendredi
  border: 1px solid mat-color(mat-palette($mat-green))

.day-col
  width: 45px

.list-td
  font-size: 10px
  position: relative

.miss-acompagnist
  font-size: 10px
  color: mat-color(mat-palette($app-warn))
  span
    display: inline-block
    position: relative
    bottom: 3px
    margin: 0
    padding: 0
  mat-icon
    font-size: 16px !important
    height: 18px
    width: 20px

.setting-planning
  width: 70%
  margin: 0 auto 20px auto
  padding-left: 20px !important
  color: mat-color($app-primary) !important

.title-planning
  position: relative
  top: 5px

.select-day-planning, .select-history-planning
  margin-left: 50px
  font-size: 12px
  min-width: 250px !important
  color: black

.clear-ico
  font-size: 18px
  color: gray

.count
  position: absolute
  top: 2px
  right: 2px
  color: darkgray
  width: 10px
  height: 15px
  display: inline-block
  text-align: center
  padding-top: 2px

.action-planning
  position: fixed !important
  top: 35px
  right: 35px
  z-index: 1500

@media print
  .clear-ico, .select-day
    visibility: hidden !important

  .action-planning, .select-history-planning
    display: none !important

  .title-planning
    margin-bottom: 5px !important
    display: inline-block
    width: 100%
    text-align: center

.v-name
  width: 100%
  padding: 3px 0 !important

.v-name:not(:last-of-type)
  border-bottom: 1px solid darkgrey
