<mat-progress-bar mode="indeterminate" *ngIf="showSpinner; else loaded"></mat-progress-bar>
<ng-template #loaded>
  <button mat-fab color="accent" class="action-planning" (click)="savePlanning()" *ngIf="type=='current'">
    <mat-icon class="mat-24">save</mat-icon>
  </button>
  <button mat-fab color="accent" class="action-planning" (click)="printPlanning()" *ngIf="type=='history'">
    <mat-icon class="mat-24">print</mat-icon>
  </button>

  <mat-card class="setting-planning">
    <span class="title-planning">Planning semaine {{current.week}} - {{current.year}}</span>
    <mat-form-field class="select-day-planning" *ngIf="type === 'current'">
      <mat-select placeholder="Jours" multiple [(ngModel)]="current.days" name="days" (change)="updateCurrent()">
        <mat-option value="Lundi">Lundi</mat-option>
        <mat-option value="Mardi">Mardi</mat-option>
        <mat-option value="Mercredi">Mercredi</mat-option>
        <mat-option value="Jeudi">Jeudi</mat-option>
        <mat-option value="Vendredi">Vendredi</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="select-history-planning" *ngIf="type === 'history'">
      <mat-select placeholder="Planning" (change)="selectPlanning()" [(ngModel)]="historySelected">
        <mat-option *ngFor="let p of getHistoryKeys()" [value]="p">{{p}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-icon-button (click)="clearDays()" *ngIf="type === 'current'">
      <mat-icon class="clear-ico">clear</mat-icon>
    </button>
  </mat-card>
  <table cellpadding=5 cellspacing=3>
    <tr>
      <th class="day-col"></th>
      <th class="mat-elevation-z1 stop-th" colspan="2">Ferrièren <span class="stop-hour">(8h00)</span></th>
      <th class="mat-elevation-z1 stop-th" colspan="2">Poype <span class="stop-hour">(8h10)</span></th>
      <th class="mat-elevation-z1 stop-th" colspan="2">Barmelle <span class="stop-hour">(8h15)</span></th>
    </tr>
    <ng-container *ngFor="let d of planning; index as i">
      <tr *ngIf="isDay(d.day)">
        <td class="mat-elevation-z1 day-row-{{d.day.toLowerCase()}}" align="center">{{d.day}}<br/>{{getDayNumber(i)}}</td>
        <td class="mat-elevation-z1 list-td day-cell-{{d.day.toLowerCase()}}">
          <div [innerHTML]="d.fAccompanists | personList"></div>
          <div class="count">{{getCount(d.fAccompanists)}}</div>
          <div *ngIf="misAccompanistCount(d.fAccompanists,d.fChilds)" class="miss-acompagnist">
            <mat-icon>warning</mat-icon>
            <span>Manque {{misAccompanistCount(d.fAccompanists,d.fChilds)}} accompagnateur(s)</span>
          </div>
        </td>
        <td class="mat-elevation-z1 list-td day-cell-{{d.day.toLowerCase()}}">
          <div [innerHTML]="d.fChilds | personList"></div>
          <div class="count">{{getCount(d.fChilds)}}</div>
        </td>
        <td class="mat-elevation-z1  list-td day-cell-{{d.day.toLowerCase()}}">
          <div [innerHTML]="d.pAccompanists | personList"></div>
          <div class="count">{{getCount(d.pAccompanists)}}</div>
          <div *ngIf="misAccompanistCount(d.pAccompanists,d.pChilds)" class="miss-acompagnist">
            <mat-icon>warning</mat-icon>
            <span>Manque {{misAccompanistCount(d.pAccompanists,d.pChilds)}} accompagnateur(s)</span>
          </div>
        </td>
        <td class="mat-elevation-z1 list-td day-cell-{{d.day.toLowerCase()}}">
          <div [innerHTML]="d.pChilds | personList"></div>
          <div class="count">{{getCount(d.pChilds)}}</div>
        </td>
        <td class="mat-elevation-z1 list-td day-cell-{{d.day.toLowerCase()}}">
          <div [innerHTML]="d.bAccompanists | personList"></div>
          <div class="count">{{getCount(d.bAccompanists)}}</div>
          <div *ngIf="misAccompanistCount(d.bAccompanists,d.bChilds)" class="miss-acompagnist">
            <mat-icon>warning</mat-icon>
            <span>Manque {{misAccompanistCount(d.bAccompanists,d.bChilds)}} accompagnateur(s)</span>
          </div>
        </td>
        <td class="mat-elevation-z1 list-td day-cell-{{d.day.toLowerCase()}}">
          <div [innerHTML]="d.bChilds | personList"></div>
          <div class="count">{{getCount(d.bChilds)}}</div>
        </td>
      </tr>
    </ng-container>
  </table>
</ng-template>

