<div>
  <div class="item-person-name" *ngFor="let p of persons">
    <span class="person-cell-font">{{p.familly+' '+ p.firstName}}</span>
    <span *ngIf="p.phone" class="person-cell-font">&nbsp;({{p.phone}})</span>
    <span *ngIf="p.classe" class="person-cell-font">&nbsp;({{p.classe}})</span>
  </div>
</div>
<div class="count person-cell-font" *ngIf="getCount() > 0">{{getCount()}}</div>
<div class="list-person-name-tel" *ngIf="tels && tels.length>0 && persons && persons.length >0">
  <div class="item-person-name item-person-name-tel">
    <div class="item-person-name" *ngFor="let p of tels">
      <span class="person-cell-font">{{p.familly+' '+ p.firstName}}</span>
      <span *ngIf="p.phone" class="person-cell-font">&nbsp;({{p.phone}})</span>
      <span *ngIf="p.classe" class="person-cell-font">&nbsp;({{p.classe}})</span>
    </div>
  </div>
</div>
<div class="count person-cell-font" *ngIf="getCount() > 0">{{getCount()}}</div>
<div *ngIf="type == 'accompanist' && misAccompanistCount()" class="miss-acompagnist">
  <mat-icon>warning</mat-icon>
  <span class="person-cell-font">Manque {{misAccompanistCount()}} accompagnateur(s)</span>
</div>
