@import './../../app-theme'

.miss-acompagnist
  font-size: 10px
  color: mat-color(mat-palette($app-warn))
  span
    display: inline-block
    position: relative
    bottom: 3px
    margin: 0
    padding: 0
  mat-icon
    font-size: 16px !important
    height: 18px
    width: 20px

.count
  position: absolute
  top: 2px
  right: 2px
  color: darkgray
  width: 10px
  height: 15px
  display: inline-block
  text-align: center
  padding-top: 2px

.item-person-name
  width: 100%
  padding: 3px 1px

.item-person-name:not(:last-of-type)
  border-bottom: 1px solid darkgrey

.person-cell-font
  font-size: 10px !important
